@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Midwest Hikes</h1>
    <p class="lead">Midwest Hikes is an MVC ASP.NET Application that allows users to learn about hikes in the midwest and add their own reccommendations. Users 
    can view/ add states, view add/ parks within those states, and view/ add hikes within those parks.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>States</h2>
        <p>
           See the states in the midwest to hike and add one if you like.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Parks</h2>
        <p>View the parks within those states to learn more. If theres one you'd reccomend, feel free to add it.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Trails</h2>
        <p>Learn about the trails within those parks and add any reccomendations.</p>
       
        
    </div>
</div>

